<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div style="text-align:center">
  <nav class="card-panel grey darken-3">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="/import" class="waves-effect waves-light btn">Dump Import</a></li>
        <li><a routerLink="/export" class="waves-effect waves-light btn">Dump Export</a></li>
        <li><a routerLink="/check-updates" class="waves-effect waves-light btn">Check Updates</a></li>
        <li><a routerLink="/prepare-upgrade" class="waves-effect waves-light btn">Prepare Upgrade</a></li>
        <li><a routerLink="/upgrade" class="waves-effect waves-light btn">Upgrade</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <app-messages></app-messages>
  <br>
</div>


